body {
  background-color: lightgray;
}

header {
  background-color: gray;
}

footer {
  background-color: gray;
}

img.logo {
  height: 120px;
}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1;
}

circle.pointer {
  fill: none;
  stroke: red;
  r: 3;
}

text.fixed-text {
  alignment-baseline: middle;
}

text.entity-text {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 28px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  color: #2E2F33;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}
text.fixed-text tspan{
  font-weight: bold;
}

text.pointer-text tspan{
  font-weight: bold;
}
